Django==4.2.7
django-cors-headers==4.3.0
django-crontab==0.7.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
kombu==5.3.2
PyJWT==2.8.0
pytz==2023.3.post1
tzdata==2023.3
vine==5.1.0
