{% extends 'base.html' %}

{% block title %}
    Log-in
{% endblock %}

{% block content %}
    <div class="login-form">
        <h1>Login</h1>
        {% if form.errors %}
            <p>Your username and password do not match.</p>
        {% endif %}
        <form method="POST" action="{% url 'authentik:login' %}">
            {% csrf_token %}
            <div class="input-field">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="input-field">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button class="button primary" type="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <p><a href="{% url 'authentik:password_reset' %}">Forgot Password</a></p>
        <p>Don't have an account? <a href="{% url 'authentik:register' %}">Register</a></p>
    </div>
    <script>
        // Your JavaScript code for the login page
    </script>
{% endblock %}
