{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="{% static './css/styles.css' %}" />
    <!-- Letting the browser know the website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <nav class="navbar primary-green-bg">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right">
                    {% include 'includes/dashboard.html' %}
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
    <!-- JavaScript at the end of the body for optimized loading -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Your other script tags go here -->
</body>
</html>
