{% extends "../base.html" %}

{% block title %}
    User Profile: {{ user.username }}
{% endblock %}

{% block content %}
    <h1 class="user-profile">{{ user.username }}</h1>

    <div class="profile-section">
        <h2>Portfolio</h2>
        {% if portfolio %}
            <p>Portfolio Name: {{ user.portfolio.name }}</p>
            <p>Cash Value: ${{ user.portfolio.cash_value }}</p>
        {% endif %}
    </div>

    <div class="profile-section">
        <h2>Portfolio P&L vs. Time</h2>
        <canvas id="portfolioChart" class="chart"></canvas>
    </div>

    <div class="profile-section">
        <h2>Trade List</h2>
        <ul class="trade-list">
            {% for trade in trade_list %}
                <li>
                    {{ trade.order_type }} - {{ trade.stock }} (Quantity: {{ trade.quantity }})
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
    const config = {
        type: "line",
        data: {
            labels: [],
            datasets: [{
                data: [],
                label: "Value",
                borderColor: "#3e95cd",
                fill: false,
            }],
        },
        options: {
            scales: {
                x: {
                    type: "time",
                    time: {
                        unit: 'minute',
                    },
                },
                y: {
                    beginAtZero: true,
                },
            },
        },
    };

    const ctx = document.getElementById("portfolioChart").getContext("2d");
    const pnlChart = new Chart(ctx, config);

    const updateChart = (newLabels, newData) => {
        pnlChart.data.labels = [...pnlChart.data.labels, ...newLabels];
        pnlChart.data.datasets[0].data = [...pnlChart.data.datasets[0].data, ...newData];
        pnlChart.update();
    };

    const fetchPNL = () => {
        const portfolioId = {{ user.portfolio.id }};

        fetch(`http://127.0.0.1:8000/authentik/portfolio/${portfolioId}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            const newLabels = [data.time];
            const newData = [data.pnl];
            updateChart(newLabels, newData);
        })
        .catch(error => console.error(error));
    };

    fetchPNL();
    setInterval(fetchPNL, 60000);
</script>
{% endblock %}
