{% extends "base.html" %}

{% block content %}
    <h1>Trade List</h1>
    <table>
        <thead>
            <tr>
                <th>Order Type</th>
                <th>Quantity</th>
                <th>Stock</th>
                <th>Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
                <tr>
                    <td>{{ trade.order_type }}</td>
                    <td>{{ trade.quantity }}</td>
                    <td>{{ trade.stock.symbol }}</td>
                    <td>{{ trade.time }}</td>
                    <td><a href="{% url 'authentik:trade-detail' trade.uuid %}">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'authentik:profile' user.username%}">Back to Dashboard</a>
{% endblock %}
